
.clamp{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
li.nodata_li{padding:100px 20px;text-align: center;display:block !important;}

.middle_wrap .swiper-pagination{font-size:0;line-height:0;position:static;margin-top:18px;}
.middle_wrap .swiper-pagination .swiper-pagination-bullet{opacity:1;width:8px;height:8px;background:#d2d2d2;margin:0 2px;}
.middle_wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#4e4e4e;}


/* main */
.mv_wrap{position:relative;}
.swiper-container.mv_container{height:100%;}
.mv_item:before,
.mv_item:after{display:block;z-index:2;height:50%;content:'';width:100%;background-position: 0 0; background-repeat:repeat-x; background-size:auto 100%;position:absolute;left:0;}
.mv_item:before{top:0;background-image:url("../images/shadow_mv_top.png");opacity:.5;}
.mv_item:after{bottom:0;background-image:url("../images/shadow_mv_bottom.png");}
.mv_wrap.case02 .mv_item:after{display:none;}
.swiper-container.mv_container .swiper-wrapper{}
.swiper-container.mv_container .swiper-slide{}
.mv_item{display:block;}
.mv_item .bg{width:100%;background-repeat:no-repeat;background-size:cover;background-position:0 0;padding-bottom:125%;}
.mv_wrap.case02 .mv_item .bg{padding-bottom:97.22222222222222%;}
.mv_item .mv_copy{position:absolute;top:0;left:0;width:100%;box-sizing: border-box;padding:30px 18px;z-index:5;}
.mv_item .mv_copy img{max-width: 100%;}
.swiper-pagination-layer{position:absolute;bottom:10px;left:0;z-index:20;width:100%;text-align: center;}
.swiper-pagination.mv-pagination{font-size:0;line-height:0;position:static;background:rgba(0,0,0,.5);padding:8px 12px;display:inline-block;border-radius: 100px;border:1px solid rgba(255,255,255,.5)}
.swiper-pagination.mv-pagination .swiper-pagination-bullet{width:8px;height:8px;background:#fff;opacity:1;margin:0 2.5px;}
.swiper-pagination.mv-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;background:#ffc000 !important;}

.btn_mv_control{display:block;position:absolute;top:50%;width:55px;height:55px;transform: translateY(-50%);z-index:10;}
.btn_mv_control:before{display:block;content:'';width:13px;height:13px;border-left:2px solid #fff;border-bottom:2px solid #fff;transform: rotate(45deg);position:absolute;top:19px;left:22px;}
.btn_mv_control.prev_control{left:0;}
.btn_mv_control.next_control{right:0;}
.btn_mv_control.next_control:before{transform:rotate(225deg);left:18px;}

.mv_form_wrap{position:absolute;bottom:30px;left:0;width:100%;z-index:5;box-sizing: border-box;padding:0 60px;}
.mv_form_cols{margin-bottom:15px;}
.mv_form_cols:last-of-type{margin-bottom:0;}
.mv_form_item{border-bottom:1px solid rgba(255,255,255,0.6);display:flex;align-items: center;height:35px;}
.mv_form_item.has_allow{}
.mv_form_item.has_allow:after{}
.mv_form_item.has_search{}
.mv_form_item.has_search:after{content:'';width:22px;height:22px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 22px;}
.mv_form_item:after{display:block;font-size:16px;color:#fff;font-weight:500;content:'→';/* width:24px;height:13px;background:url("../images/ico_mv_allow.png") no-repeat 0 0/100% auto; */}
.mv_form_text{font-size:16px;color:#fff;flex:1;margin-right:5px;}

.mv_form_field{border-bottom:1px solid rgba(255,255,255,0.6);font-size:23px;color:#fff;display:flex;align-items: center;}
input.mv_form_input{border:0;flex:1;width:100%;font-family: 'Noto Sans KR';height:35px;line-height:1;font-size:16px;color:#fff;padding:0;background:none;}

input.mv_form_input::-webkit-input-placeholder{color:#fff;}
input.mv_form_input::-moz-input-placeholder{color:#fff;}
input.mv_form_input:-ms-input-placeholder{color:#fff;}
input.mv_form_input::-ms-input-placeholder{color:#fff;}
input.mv_form_input::input-placeholder{color:#fff;}

.btn_mv_form_submit{margin-left:5px;display:block;width:16.5px;height:16.5px;background:url("../images/icon_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 16.5px;}
.btn_psubmit{display:inline-block;color:#000000;font-size:14px;font-weight:500;text-align:center;line-height:1;border:1px solid #7e7e7e;border-radius:100px;padding:10px 10px 11px;min-width:110px;box-sizing: border-box;}

.mc_wrap{}
.mc_row{}
.mc_row.mc_category{border-bottom:1px solid #dbdbdb;padding:20px;}
.mc_row.mc_tc{margin:40px 0 0;}
.mc_row.mc_tabebanner{margin:40px 0 0;}
.mc_row:last-of-type{}
.mc_category_list{display:flex;flex-wrap:wrap;gap:8px 0;margin:0 -4px;}
.mc_category_list > li{flex:0 0 33.333333333333%;box-sizing: border-box; width:33.333333333333%;box-sizing: border-box;padding:0 4px;}
.mc_category_list > li:last-of-type{}
.mc_category_item{font-size:15px;display:flex; align-items:center; height:100%; justify-content: center; border:1px solid #535353;border-radius:100px;text-align: center;padding:5px 10px;box-sizing: border-box;}
.mc_category_item.active{border-color:#7cfffe;background:#7cfffe;font-weight:500;}

.mc_vitem_title_row{text-align: center;margin-bottom:18px;line-height:0;}
.mc_vitem_title{text-align: center;font-size:18px;font-weight:500;}
.mc_vitem_title_wp{line-height:1;}
.mc_vitem_title_wp.has_highlight{position:relative;font-weight:500;}
.mc_vitem_title_wp.has_highlight:before{display:block;content:'';width:100%;height:5px;background:#7cfffe;position:absolute;bottom:1px;left:0;}
.mc_vitem_title_wp.has_highlight .highlight{position:relative;z-index:2;}

/* mcbanner */
.mc_banner_container img{max-width: 100%;vertical-align: top;}
.mc_banner_container .swiper-pagination.mc-pagination{position:absolute;top:auto;bottom:10px;}

/* mc_thumbanner */
.mc_thumbanner{display:block;}
.mc_thumbanner:hover .thum_rows > img{transform:scale(1.2);}
.mc_thumbanner .thum_rows{border-radius:12px 12px 0 0;position:relative;overflow:hidden;height:200px;}
.mc_thumbanner .thum_rows > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;transition:.5s;transform:scale(1.0);}
.mc_thumbanner .spec_rows{border:1px solid #dadada;border-top:0;border-radius:0 0 12px 12px;background:#fff;padding:12px 12px 20px;}
.spec_keyword_wrap{display:flex;gap:3px;position:relative;overflow:hidden;}
.spec_keyword_wrap:after{display:block;content:'';width:30px;height:100%;position:absolute;top:0;right:0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.spec_keyword{display:inline-block;color:#888888;font-size:12px;line-height:1;border-radius:100px;padding:4px 10px 5px;border:1px solid #dbdbdb;white-space: nowrap;}
.spec_keyword:last-of-type{}
.spec_copy_wrap{margin-top:12px;}
.spec_copy_main{font-size:17px;font-weight:500;color:#1f1f1f;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_copy_sub{margin-top:8px;font-size:13px;color:#878686;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_price_wrap{margin-top:19px;text-align: right;}
.price_num_group{color:#333333;display:flex;align-items: center;justify-content: flex-end;}
.price_num_value{font-size:16px;font-weight:700;}
.price_num_unit{font-size:14px;font-weight:500;}
/* // mc_thumbanner */

.mc_card_container .mc_thumbanner{margin:0 20px;}

.swiper-container.scroll_type{width:auto;padding:0 20px;}
.swiper-container.scroll_type .swiper-wrapper{width:auto;}
.swiper-container.scroll_type .swiper-slide{width:auto;}
.swiper-container.scroll_type .mc_thumbanner{width:290px;}


.mctab_item{font-size:15px;color:#333333;line-height:1;border-radius:100px;font-weight:500;white-space: nowrap;border:1px solid #bdbdbd;min-width:90px;box-sizing: border-box;text-align: center;padding:10px 10px 11px;display:inline-block;}
.mctab_item.active{color:#fff;border-color:#1a2e46;background:#1a2e46;}


.box_gallery_wrap{margin-top:20px;}
.box_gallery_list{margin:0 20px;}
.box_gallery_list > li{margin-bottom:22.5px;}
.box_gallery_list > li:last-of-type{margin-bottom:0;}


.btn_submitbox_wrap{display:flex;justify-content: center;margin-top:23px;}
.btn_submitbox{display:inline-flex;justify-content:center;align-items:center;border:1px solid #717171;padding:12px 15px;line-height:0;min-width:160px;box-sizing: border-box;border-radius:100px;background:#fff;}
.btn_submitbox.ico_more{}
.btn_submitbox .box_text{font-size:14px;color:#333333;font-weight:500;display:inline-block;line-height:1;}
.btn_submitbox .box_ico{display:inline-block;width:10px;height:10px;margin-left:7px;position:relative;top:-1px;}
.window .btn_submitbox .box_ico{top:1px;}
.btn_submitbox.ico_more .box_ico{}
.btn_submitbox.ico_more .box_ico:before,
.btn_submitbox.ico_more .box_ico:after{display:block;content:'';width:100%;height:2px;background:#3f3f3f;position:absolute;top:50%;left:0;margin-top:-1px;}
.btn_submitbox.ico_more .box_ico:before{}
.btn_submitbox.ico_more .box_ico:after{transform: rotate(90deg);}


.mc_gcard_list{display:flex;flex-wrap:wrap;gap:16px 0;margin:0 15px;}
.mc_gcard_list .thum_rows{height:126px;}
.mc_gcard_list .spec_copy_main{-webkit-line-clamp:2;font-size:15px;}
.mc_gcard_list .spec_copy_wrap{margin-top:0;}
.mc_gcard_list > li{flex:0 0 50%;width:50%;box-sizing: border-box;padding:0 5px;}
.mc_gcard_list > li:last-of-type{}

.spec_keyprice_wrap{margin-top:15px;}
.price_key_label{font-size:12px;color:#999999;}
.spec_keyprice_wrap .price_num_group{justify-content: flex-start;}
.spec_keyprice_wrap .price_num_value{}
.spec_keyprice_wrap .price_num_unit{}


.mc_row.mc_vbanner{margin:37.5px 20px 0}
.mc_banner_list{}
.mc_banner_list > li{margin-bottom:20px;}
.mc_banner_list > li:last-of-type{margin-bottom:0;}
.mc_banner{display:block;background:#fff1f1;border-radius:12px;}
.mc_banner.type2{background:#d3fdfd;}
.mc_banner.type2 .banner_spec_emp{}
.mc_banner.type2 .banner_spec_emp:before{}
.mc_banner.type2 .banner_spec_emp_text{}

.mc_banner_inner{display:flex;padding:15px 20px;align-items: center;}
.mc_banner_spec{flex:1;min-width:0;}
.mc_banner_spec_main{font-size:18px;font-weight:500;color:#1b1b1b;word-break:keep-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.banner_spec_emp{position:relative;}
.banner_spec_emp:before{display:block;content:'';height:6px;background:#fff;position:absolute;bottom:2px;left:0;width:100%;}
.banner_spec_emp_text{font-weight:700;position:relative;z-index:3;}
.mc_banner_spec_sub{margin-top:8px;font-size:13px;color:#000;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.mc_banner_spec_btn{margin-top:10px;}
.btn_spectail{font-size:11px;color:#333333;line-height:1;border:1px solid #9c9c9c;border-radius:100px;padding:5px 10px 6px;min-width:80px;box-sizing: border-box;display:inline-block;text-align: center; font-weight:500;}
.mc_banner_thum{flex:0 0 92px;border-radius:100%;position:relative;height:92px;overflow: hidden;width:92px;}
.mc_banner_thum > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;}




.mc_row.mc_vcustomer{margin-top:40px}
.customer_list{margin:0 20px;}
.customer_list > li{margin-bottom:12px;}
.customer_list > li:last-of-type{margin-bottom:0;}
.customer_boxitem{display:flex;background:#fff;height:100%;box-sizing: border-box;border:1px solid #d9d9d9;border-radius:5px;padding:15px 16px;}
.customer_boxitem.ico_type2{}
.customer_boxitem.ico_type2 .customer_boxico{background-position:0 100%;}
.customer_boxico{width:49px;height:49px;border:1px solid #e9e9e9;border-radius:100%;background:url("../images/ico_customer.png") no-repeat 0 0/100% auto;}
.customer_boxspec{flex:1;min-width:0;padding:0 0 0 19px;}
.customer_boxlabel{font-size:15px;color:#2b2b2b;font-weight:500;line-height:1;margin-top:10px;}
.customer_main_flex{margin-top:12px;}
.customer_box_main{font-size:24px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;}
.customer_box_sub{font-size:14px;color:#1b1b1b;margin-top:8px;display:block;}
.customer_tail_list{font-size:12px;color:#6d6c6c;gap:12px;margin-top:10px;}
.customer_tail_list > li{position:relative;padding-left:8px;}
.customer_tail_list > li:before{display:inline-block;content:'-';position:absolute;top:0;left:0;}
.customer_tail_list > li:last-of-type{}
.customer_info_label{font-size:13px;color:#1b1b1b;font-family: 'Open Sans','Noto Sans KR';}
.bank_main_flex{margin-top:8px;display:flex;flex-wrap:wrap;gap:5px;}
.bank_main_sub{font-size:13px;color:#1b1b1b;}
.bank_main_main{font-size:18px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;}
.bank_tail_guide{font-size:12px;color:#2b2b2b;margin-top:6px;}




/* modal */
.modal_zone{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;display:none;font-family: 'Noto Sans KR';}
.modal_zone.bottom_sheet{}
.dim{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:1;}
.modal_zone.active{display:block;}

.modal_box_wrap{z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;display:flex;flex-direction: column;align-items: center;justify-content: center;padding:20px;box-sizing: border-box;}
.bottom_sheet_zone{z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;display:flex;flex-direction: column;align-items: flex-end;box-sizing: border-box;}
.modal_box{background:#fff;width:100%;border-radius:23px;display:flex;flex-direction: column;text-align: center;position:relative;max-height:100%;z-index:5;}
.modal_title_row{flex:0;text-align: center;padding:15px 45px;border-bottom:1px solid #d9d9d9;}
.modal_btn_row{flex:0;text-align: center;padding:0;border-top:1px solid #d9d9d9;}
.modal_btn_row .btn_psubmit{padding:20px 45px;display:block;text-align: center;border:0;min-width:0;font-family: 'Noto Sans KR';font-weight:700;font-size:16px;}
.modal_title{display:inline-block;font-size:14px;}
.modal_content_row{flex:1;min-height:0;padding:20px;position:relative;overflow-y:auto;}
.modal_content_row.only_cont{}
.segment_btn_list{}
.segment_btn_list > li{margin-bottom:7.5px;}
.segment_btn_list > li:last-of-type{margin-bottom:0;}

.segment_vitem{border-bottom:1px solid #d9d9d9;padding:0 10px 20px 10px;margin-bottom:20px;}
.segment_vitem:last-of-type{margin-bottom:0;padding-bottom:0;border-bottom:0;}
.segment_vtitle{font-size:16px;font-weight:700;margin-bottom:10px;display:block;}
.segment_vlist{}
.segment_vlist > li{margin-bottom:10px;}
.segment_vlist > li:last-of-type{margin-bottom:0;}
.segment_text_item{font-size:14px;display:block;}
.segment_vtitle.active,
.segment_text_item.active{color:#00dfde;}


.btn_segment_box{display:block;color:#1a1f28;font-size:13px;border:1px solid #333c4c;padding:10px;border-radius:100px;text-align: center;}
.btn_segment_box.active{background:#333c4c;color:#fff;}
.btn_modal_close{position:absolute;top:5px;right:5px;width:30px;height:30px;}
.btn_modal_close:before,
.btn_modal_close:after{display:block;content:'';width:14px;height:1px;background:#000;position:absolute;top:50%;left:50%;margin:-1px 0 0 -7px;}
.btn_modal_close:before{transform: rotate(45deg);}
.btn_modal_close:after{transform: rotate(-45deg);}

.insert_date_parent .ui-datepicker{width:100%;}

.search_field_boxwrap{padding:20px 0;font-family: 'Noto Sans KR';}
.search_field_copy{text-align: center;font-size:16px;font-weight:bold;margin-bottom:10px;}
.search_field_box{border:1px solid #d9d9d9;border-radius: 10px;position:relative;overflow: hidden;display:flex;align-items:center;}
input.mv_field_input{outline:0;flex:1;min-width:0;border:0;padding:10px 0 10px 15px;width:100%;line-height:1;font-size:16px;-webkit-border-radius:0;height:50px;font-family:'Noto Sans KR'; }
.btn_search_mv_submit{display:inline-block;width:50px;height:50px;flex:0 0 50px;background:url("../images/btn_mv_searchsubmit.png") no-repeat 50% 50%/20px auto;}

.bottom_sheet_wrap{position:fixed;bottom:0;left:0;z-index:5;border-radius:23px 23px 0 0;display:flex;flex-direction: column;background:#fff;width:100%;max-height:100%;}
.bottom_sheet_head{flex:0;padding:20px;border-bottom:1px solid #cacaca;text-align: center;display:flex;justify-content: center;align-items: center;}
.bottom_sheet_cont{flex:1;min-height:0;overflow-y:auto;}
.bottom_sheet_title{display:flex;align-items: center;}
.bottom_sheet_ico{display:block;flex:0;background-position:0 0;background-size:100% auto;background-repeat:no-repeat;}
.bottom_sheet_ico.ico_filter{background-image:url("../images/ico_filter.png");width:17.5px;height:17.5px;flex-basis:17.5px;}
.bs_title_text{display:inline-block;font-size:16px;margin-left:10px;}
.bottom_sheet_title{}

/* filter */
.filter_contlow{font-family: 'Noto Sans KR';}
.filter_tab_row{border-bottom:1px solid #e7e7e7;box-sizing: border-box;position:relative;overflow-x:auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.filter_tab_row::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.filter_tab_list{display:flex;gap:22px;padding-left:20px;}
.filter_tab_list > li{}
.filter_tab_list > li:last-of-type{padding-right:20px;}
.filter_tab{font-size:15px;white-space:nowrap;color:#4e4e4e;align-items: center;justify-content: center;display:flex;height:55px;box-sizing: border-box;}
.filter_tab.active{color:#000000;font-weight:500;}
.filter_form_row{padding:14px 20px;border-bottom:1px solid #e7e7e7;}
.filter_form_cont{display:none;}
.filter_form_cont.active{display:block;}
.filter_form_boxitem_wrap{}
.filter_form_boxitem_list{display:flex;flex-wrap:wrap;gap:8px 0;margin:0 -4px;}
.filter_form_boxitem_list > li{flex:0 0 33.3333333333%;box-sizing: border-box;padding:0 4px;}
.filter_form_boxitem_list > li:last-of-type{}
.filter_form_boxitem{display:block;width:100%;word-break:break-all;font-family: 'Noto Sans KR';font-size:14px;color:#4e4e4e;border:1px solid #ccc;border-radius:100px;line-height:1.3;padding:8px 10px 9px;box-sizing: border-box;text-align: center;}
.filter_form_boxitem.active{color:#02dfde;border-color:#02dfde;font-weight:500;}
.filter_else_wrap{margin-top:28px;}
.filter_else_label{font-size:16px;color:#4e4e4e;margin-bottom:18px;}
.filter_else_cont{}
.form_format_wrap{}
.form_format_btn_row{margin-top:10px;}
.btn_filter_item{width:100%;}
.form_format_list{display:flex;align-items: center;}
.form_format_list > li{flex:1;}
.form_format_list > li.else{flex:0;white-space:nowrap;padding:0 10px;}
.form_format_list > li.has_btn{padding:0 0 0 10px}
.btn_filter_item{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid #7e7e7e;
    border-radius: 8px;
    padding: 10px 10px 11px;
    min-width: 110px;
    box-sizing: border-box;
	font-family:'Noto Sans KR';
}

input.filter_input_item{font-family: 'Noto Sans KR';border:1px solid #d4d4d4;height:48px;border-radius:8px;line-height:1;box-sizing: border-box;width:100%;box-sizing: border-box;padding:0 15px;}
.filter_input_elsetext{}
.filter_result_row{border-top:1px solid #e7e7e7;padding:20px 0 25px;display: flex;align-items: center;justify-content: space-between;}
.filter_getdata_row{border-bottom:1px solid #e7e7e7;padding:18px 20px;}
.filter_getdata_cols{display:flex;align-items: center;}
.filter_getdata_list{display:flex;flex-wrap:wrap;gap:6px;}
.filter_getdata_list > li{}
.filter_getdata_list > li:last-of-type{}
.filter_getdata{display:inline-flex;border:1px solid #e9e9e9;padding:6px 6px 7px 10px;align-items: center;}
.getdata_text{font-size:13px;color:#1b1b1b;line-height:1;display:inline-block;}
.btn_getdata_del{display:inline-block;width:20px;height:20px;margin-left:5px;position:relative;}
.btn_getdata_del:before,
.btn_getdata_del:after{display:block;content:'';width:12px;height:1px;background:#777;position:absolute;top:50%;left:50%;margin:0 0 0 -6px;}
.btn_getdata_del:before{transform: rotate(45deg);}
.btn_getdata_del:after{transform: rotate(-45deg);}
.filter_control_cols{display:flex;align-items: center;justify-content: flex-end;}
.filter_control_list{display:flex;gap:20px;align-items: center;}
.filter_control_list > li{}
.filter_control_list > li:last-of-type{}

.filter_control_row{padding:15px 20px;display:flex;justify-content: space-between;}

.btn_control_box{display:inline-flex;align-items: center;}
.btn_control_box_text{display:inline-block;line-height:1;font-size:14px;font-family: 'Noto Sans KR';position:relative;top:-1px;}
.btn_control_box:after{flex:0 0 19px;display:block;content:'';width:19px;height:19px;background:url("../images/btn_filter_reset.png") no-repeat 0 0/100% auto;margin-left:7px;}
.btn_control_box.ico_reset{}
.btn_control_box.ico_reset:after{}
.btn_quadbox_item{display:inline-block;background:#3e3e3e;border-radius:100px;padding:10px 25px 11px;box-sizing: border-box;text-align: center;}
.btn_quadbox_item.ico_allow{}
.btn_quadbox_item.ico_allow .quadbox_item_text{padding-right:17px;position:relative;}
.btn_quadbox_item.ico_allow .quadbox_item_text:after{display:block;content:'';width:7px;height:7px;border-right:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:2.5px;right:3px;transform: rotate(-45deg);}
.quadbox_item_text{display:inline-block;color:#fff;font-size:13px;line-height:1;}
.quadbox_item_text strong{font-weight:700;}
/* // filter */
/* // modal */


/* sub */
.sortbox_form_wrap{z-index:5;box-sizing: border-box;z-index:20;box-sizing: border-box;}
.sortbox_form_fxwrap{display:flex;background:#fff;border:1px solid #727272;border-radius:100px;min-height:50px;box-sizing: border-box;}
.sortbox_form_item{flex:1;border-right:1px solid #e4e4e4;display:flex;align-items: center;justify-content: center;}
.sortbox_form_item:last-of-type{border-right:0}
.sortbox_form_item:before{display:block;content:'';width:25px;height:25px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 25px;}
.sortbox_form_item.ico_map{}
.sortbox_form_item.ico_date:before{background-position:0 50%;margin-right:5px;}
.sortbox_form_item.ico_search:before{background-position:0 100%;}
.sortbox_form_item_text{font-size:15px;font-weight:500;color:#000000;word-break: break-all; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}

.middle_wrap.sub_middle{padding:17.5px 20px 0;width:auto;}
.sort_result_quad_wrap{margin:0 -20px;overflow:hidden;overflow-x:auto;padding:20px 0;}
.sort_result_quad_wrap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.sort_result_quad_wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.sort_result_quad_list{display:flex;gap:6px;align-items: center;padding:0 0 0 20px;}
.sort_result_quad_list > li{display:flex;}
.sort_result_quad_list > li:last-of-type{}
.sort_result_quad_list > li:last-of-type{padding-right:20px;}

.sort_result_quad{display:inline-flex;border:1px solid #cccccc;padding:5px 5px 5px 12px;border-radius:5px;align-items: center;box-sizing: border-box;height:100%;}
.sort_result_quad:before{display:block;content:'';background-repeat:no-repeat;background-size:100% auto;background-position:0 0;}
/* .sort_result_quad.ico_calendar:before{width:13.5px;height:19.5px;background-image:url("../images/ico_sort_01.png");}
.sort_result_quad.ico_moon:before{width:20px;height:19.5px;background-image:url("../images/ico_sort_02.png");}
.sort_result_quad.ico_map:before{width:14.5px;height:14px;background-image:url("../images/ico_sort_03.png");}
.sort_result_quad.ico_pay:before{width:;height:;background-image:url("../images/ico_sort_04.png");} */
.sort_result_quad.ico_calendar:before{width:18.5px;height:18.5px;background-image:url("../images/ico_sort_result_01.png");}
.sort_result_quad.ico_moon:before{width:13.5px;height:14.5px;background-image:url("../images/ico_sort_result_02.png");}
.sort_result_quad.ico_map:before{width:11px;height:16.5px;background-image:url("../images/ico_sort_result_03.png");}
.sort_result_quad.ico_pay:before{width:13.5px;height:12.5px;background-image:url("../images/ico_sort_result_04.png");}
.sort_result_quad.ico_time:before{width:15px;height:15px;background-image:url("../images/ico_sort_result_05.png");margin-right:-1px;}

.sort_result_quad.ico_time + .sort_result_text{margin-left:5px;}
.sort_result_text{white-space: nowrap;font-size:13px;color:#2b2b2b;font-weight:500;margin-left:7px;line-height:1;position:relative;top:-1px;}
.btn_sort_result_del{display:inline-block;width:20px;height:20px;margin-left:3px;position:relative;top:-1px;}
.btn_sort_result_del:before,
.btn_sort_result_del:after{display:block;content:'';width:12px;height:1px;background:#777;position:absolute;top:50%;left:50%;margin:0 0 0 -6px;}
.btn_sort_result_del:before{transform: rotate(45deg);}
.btn_sort_result_del:after{transform: rotate(-45deg);}

.sortlist_top_wrap{display:flex;justify-content: space-between;margin-bottom:16px;}
.sortlist_left_cols{display:flex;align-items: flex-end;}
.sortlist_right_cols{display:flex;align-items:center;justify-content: flex-end;}
.sortlist_right_cols > *{margin-right:10px;}
.sortlist_right_cols > *:last-child{margin-right:0;}
.btn_ico_sort{display:inline-flex;align-items: center;}
.btn_ico_sort:before{display:block;content:'';flex:0 0 17.5px;width:17.5px;height:17.5px;margin-right:8px;background:url("../images/ico_filter.png") no-repeat 0 0/100% auto;}
.btn_ico_sort.ico_filter{}
.ico_sort_text,
.ico_sort_count{position:relative;top:-1px;}
.ico_sort_text{display:inline-block;font-size:15px;color:#2d2d2d;}
.ico_sort_count{display:inline-block;font-weight:700;color:#2d2d2d;margin-left:6px;}
.board_current_para{}
select.sortboard_select{}
select.form_select{
    border:1px solid #999999;font-size:13px;height: 30px;padding: 0 38px 0 15px;box-sizing:border-box;font-family: 'Noto Sans KR';border-radius: 100px;
    background: #fff url("../images/ico_select_allow.png") no-repeat 100% 50%/25px auto;line-height: 28px;-webkit-appearance:none;-moz-appearance:none;appearance:none; cursor: pointer;
}
select.form_select::-ms-value {background: none; color:#000;}
select.form_select::-ms-expand {display: none;}
select.form_select::-ms-value {
    background: none; 
    color:#000;
}
select.form_select:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}



.board_thumnail_list{border-top:1px solid #dbdbdb;}
.board_thumnail_list > li.nodata_li{text-align: center;padding:100px 20px !important;}
.board_thumnail_list > li.nodata_li .nodata_para{text-align: center;}
.board_thumnail_list > li{padding:20px 0;border-bottom:1px solid #dbdbdb;}
.board_thumnail_list > li:last-of-type{border-bottom:0;padding-bottom:0;}

.board_thumnail_obj{display:flex;}
.board_thumnail_img_cols{flex:0 0 135px;width:135px;height:120px;position:relative;overflow: hidden;border-radius:10px;}
.board_thumnail_img_cols img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}

.board_thumnail_spec_cols{flex:1;min-width:0;padding-left:18px;padding-top:3px;}
.board_spectext_group{}
.board_spec_label{margin-bottom:5px;position:relative;font-weight:500;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.4;font-size:11px;color:#999999;}
.board_spec_main{font-size:15px;position:relative;font-weight:500;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;line-height:1.2;}
.board_spec_else{margin-top:8px;position:relative;font-weight:500;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;line-height:1.4;font-size:11px;color:#999999;}
.board_spec_sub_g{text-align: left;margin-top:18px;}
.board_spec_sub_g .price_num_group{margin-top:35px;}
.board_spec_sub_g .price_num_value{font-size:19px;}
.board_spec_sub_g .price_num_unit{font-size:14px;}
.board_spec_sub_g .price_num_group:last-of-type{}

.board_current_para{font-size:14px;}
.board_current_para strong{font-weight:700;}
/* // sub */