.mv_wrap{position:relative;}
.page_wrap.type2 .mv_wrap{height:635px !important;}
.btn_mv_control{position:absolute;top:50%;width:70px;height:70px;z-index:10;background:url("../images/btn_mv_control.png") no-repeat 0 0/100% auto;}
.btn_mv_control.prev_control{left:0;}
.btn_mv_control.next_control{right:0;background-position:0 100%;}
.swiper-container.mv_container{height:100%;position:relative}
.swiper-container.mv_container:before,
.swiper-container.mv_container:after{display:block;content:'';position:absolute;left:0;background-repeat:repeat-x;height:50%;width:100%;z-index:5;}
.swiper-container.mv_container:before{top:-20px;background-image:url("../images/shadow_mvtop.png");background-position:0 0;}
.swiper-container.mv_container:after{bottom:0;background-image:url("../images/shadow_mvbottom.png");background-position:0 100%;}
.swiper-container.mv_container .swiper-wrapper{}
.swiper-container.mv_container .swiper-slide{}
.mv_item{display:flex; align-items: center; justify-content:center; background-position:50% 50%;background-repeat:no-repeat;background-size:cover;height:100%;}
.mv_copy{padding:0 170px 150px;box-sizing: border-box;width:100%;}
.mv_form_wrap{position:absolute;bottom:70px;left:50%;width:1200px;z-index:5;display:flex;transform:translateX(-50%)}
.mv_form_cols{flex:1;margin:0 27.5px;}
.mv_form_item{border-bottom:1px solid rgba(255,255,255,0.6);display:block;padding:0 5px;display:flex;align-items: center;height:52px;}
.mv_form_item.has_allow{}
.mv_form_item.has_allow:after{}
.mv_form_item.has_search{}
.mv_form_item.has_search:after{content:'';width:22px;height:22px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 22px;}
.mv_form_item:after{display:block;font-size:26px;color:#fff;font-weight:500;content:'→';/* width:24px;height:13px;background:url("../images/ico_mv_allow.png") no-repeat 0 0/100% auto; */flex:0 0 24px;}
.mv_form_text{font-size:23px;color:#fff;flex:1;}

.mv_form_field{border-bottom:1px solid rgba(255,255,255,0.6);font-size:23px;color:#fff;display:flex;align-items: center;}
input.mv_form_input{border:0;flex:1;font-family: 'Noto Sans KR';height:52px;line-height:1;font-size:23px;color:#fff;padding:0 5px;}

input.mv_form_input::-webkit-input-placeholder{color:#fff;}
input.mv_form_input::-moz-input-placeholder{color:#fff;}
input.mv_form_input:-ms-input-placeholder{color:#fff;}
input.mv_form_input::-ms-input-placeholder{color:#fff;}
input.mv_form_input::input-placeholder{color:#fff;}

.btn_mv_form_submit{display:block;width:22px;height:22px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 22px;}



.mc_wrap{}
.mc_inner{width:1200px;margin:75px auto 0;}
.mc_vitem{}
.mc_title_row{margin-bottom:40px;text-align: center;}
.mc_title{font-size:32px;color:#000000;font-weight:500;}
.mc_title_emp{display:inline-block;position:relative;}
.mc_title_emp:before{display:block;content:'';width:calc(100% + 10px);height:7px;background:#7cfffe;position:absolute;bottom:-3px;left:-5px;}
.mc_title_emp_text{display:inline-block;position:relative;z-index:1;}
.mc_content_row{position:relative;}
.mc_content_row.type2{margin-top:60px;padding:50px 0 60px;}
.mc_content_row.type2:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;transform: translateX(-50%);height:100%;background:#f5fafa;}

.mc_vitem.recommend_vitem{}
.swiper-pagination.mc_paging{position:static;font-size:0;line-height:0;}
.swiper-pagination.mc_paging .swiper-pagination-bullet{margin:25px 2px 0;width:10px;height:10px;background:#ababab;opacity:1;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#00dfde;width:30px;border-radius:100px;}

/* mc_thumbanner */
.mc_thumbanner{display:block;}
.mc_thumbanner:hover .thum_rows > img{transform:scale(1.2);}
.mc_thumbanner .thum_rows{border-radius:18px 18px 0 0;position:relative;overflow:hidden;height:290px;}
.mc_thumbanner .thum_rows > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;transition:.5s;transform:scale(1.0);}
.mc_thumbanner .spec_rows{border:1px solid #dadada;border-top:0;border-radius:0 0 18px 18px;background:#fff;padding:14px 17px 20px;}
.spec_keyword_wrap{display:flex;gap:3px;position:relative;overflow:hidden;}
.spec_keyword_wrap:after{display:block;content:'';width:30px;height:100%;position:absolute;top:0;right:0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.spec_keyword{display:inline-block;color:#888888;font-size:13px;line-height:1;border-radius:100px;padding:4px 10px 5px;border:1px solid #dbdbdb;white-space: nowrap;}
.spec_keyword:last-of-type{}
.spec_copy_wrap{margin-top:10px;}
.spec_copy_main{font-size:19px;font-weight:500;color:#1f1f1f;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_copy_sub{margin-top:5px;font-size:15px;color:#878686;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_price_wrap{margin-top:25px;text-align: right;}
.price_num_group{color:#333333;display:flex;align-items: center;justify-content: flex-end;}
.price_num_value{font-size:25px;font-weight:700;}
.price_num_unit{font-size:19px;font-weight:500;}
/* // mc_thumbanner */

.swiper-container.mc_multi_swiper{margin:0 -18px;}
.swiper-container.mc_multi_swiper .swiper-wrapper{}
.swiper-container.mc_multi_swiper .swiper-slide{flex:0 0 33.33333333333%;}
.swiper-container.mc_multi_swiper .mc_thumbanner{margin:0 18px;}

.mc_multi_swiper2_wrap{}
.swiper-container.mc_multi_swiper2{margin:0 -5px;}
.swiper-container.mc_multi_swiper2 .swiper-wrapper{}
.swiper-container.mc_multi_swiper2 .swiper-slide{flex:0 0 25%;}
.swiper-container.mc_multi_swiper2 .mc_thumbanner{margin:0 5px;}
.swiper-container.mc_multi_swiper2 .spec_copy_main{-webkit-line-clamp: 2;}

.mc_vitem.travel_vitem{margin-top:90px;}
.mc_content_toplayer{position:absolute;top:0;left:0;width:100%;transform: translateY(-50%);}
.mc_content_bottomlayer{position:absolute;bottom:0;left:0;width:100%;transform: translateY(50%);}

.mc_ctab_wrap{}
.mc_ctab_list{display:flex;justify-content: center;gap:6px;}
.mc_ctab_list > li{}
.mc_ctab_list > li:last-of-type{}
.mc_ctab{display:inline-block;background:#fff;color:#2d3545;min-width:130px;text-align: center;border:1px solid #2d3545;border-radius:100px;padding:10px 10px 12px;box-sizing: border-box;}
.mc_ctab.active{background:#2d3545;color:#fff;font-weight:500;}
.mc_tabcont_group{}
.tabcont{display:none;}
.tabcont.active{display:block;}
.box_gallery_wrap{}
.box_gallery_list{display:flex;flex-wrap:wrap;position:relative;z-index: 1;gap:30px 0;margin:0 -18px;}
.box_gallery_list .mc_thumbanner{}
.box_gallery_list > li{flex:0 0 33.33333333333%;box-sizing: border-box;padding:0 18px;}
.box_gallery_list > li:last-of-type{}

.btn_submitbox_wrap{display:flex;justify-content: center;}
.btn_submitbox{display:inline-flex;justify-content:center;align-items:center;border:1px solid #717171;padding:12px 15px;line-height:0;min-width:180px;box-sizing: border-box;border-radius:100px;background:#fff;}
.btn_submitbox.ico_more{}
.btn_submitbox .box_text{font-size:16px;color:#333333;font-weight:500;display:inline-block;line-height:1;}
.btn_submitbox .box_ico{display:inline-block;width:10px;height:10px;margin-left:7px;position:relative;top:1px;}
.btn_submitbox.ico_more .box_ico{}
.btn_submitbox.ico_more .box_ico:before,
.btn_submitbox.ico_more .box_ico:after{display:block;content:'';width:100%;height:2px;background:#3f3f3f;position:absolute;top:50%;left:0;margin-top:-1px;}
.btn_submitbox.ico_more .box_ico:before{}
.btn_submitbox.ico_more .box_ico:after{transform: rotate(90deg);}

.mc_vitem.banner_vitem{margin-top:114px;}

.mc_banner_list{display:flex;flex-wrap:wrap;margin:60px -10px -10px;}
.mc_banner_list > li{flex:0 0 50%;box-sizing: border-box;padding:10px;}
.mc_banner_list > li:last-of-type{}
.mc_banner{display:block;background:#fff1f1;border-radius:18px;}
.mc_banner.type2{background:#d3fdfd;}
.mc_banner.type2 .banner_spec_emp{}
.mc_banner.type2 .banner_spec_emp:before{}
.mc_banner.type2 .banner_spec_emp_text{}

.mc_banner_inner{display:flex;padding:24px 36px;align-items: center;}
.mc_banner_spec{flex:1;min-width:0;}
.mc_banner_spec_main{font-size:28px;font-weight:500;color:#1b1b1b;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.banner_spec_emp{position:relative;}
.banner_spec_emp:before{display:block;content:'';height:6px;background:#fff;position:absolute;bottom:2px;left:0;width:100%;}
.banner_spec_emp_text{font-weight:700;position:relative;z-index:3;}
.mc_banner_spec_sub{margin-top:15px;font-size:20px;color:#000;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.mc_banner_spec_btn{margin-top:30px;}
.btn_spectail{font-size:14px;color:#333333;line-height:1;border:1px solid #9c9c9c;border-radius:100px;padding:10px 10px 11px;min-width:130px;box-sizing: border-box;display:inline-block;text-align: center; font-weight:500;}
.mc_banner_thum{flex:0 0 184px;border-radius:100%;position:relative;height:184px;overflow: hidden;width:184px;}
.mc_banner_thum > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;}

.mc_vitem.customer_vitem{margin-top:70px;position:relative;}
.mc_vitem.customer_vitem > *{position:relative;z-index:5;}
.mc_vitem.customer_vitem:before{display:block;content:'';width:100vw;background:url("../images/bg_bottom_cus.jpg") no-repeat 50% 0/cover;position:absolute;top:0;left:50%;height:100%;transform: translateX(-50%);}

.customer_list{display:flex;flex-wrap:wrap;margin:0 -16px;}
.customer_list > li{flex:0 0 50%;box-sizing: border-box;padding:59px 16px;}
.customer_list > li:last-of-type{}
.customer_boxitem{display:flex;background:#fff;height:100%;box-sizing: border-box;border:1px solid #d9d9d9;border-radius:10px;padding:20px 25px;}
.customer_boxitem.ico_type2{}
.customer_boxitem.ico_type2 .customer_boxico{background-position:0 100%;}
.customer_boxico{width:80px;height:80px;border:1px solid #e9e9e9;border-radius:100%;background:url("../images/ico_footer_cus.png") no-repeat 0 0/100% auto;}
.customer_boxspec{flex:1;min-width:0;padding:10px 0 10px 22px;}
.customer_boxlabel{font-size:18px;color:#2b2b2b;font-weight:500;line-height:1;}
.customer_main_flex{margin-top:12px;display:flex;align-items: center;}
.customer_box_main{font-size:30px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;}
.customer_box_sub{font-size:16px;color:#1b1b1b;margin-left:10px;}
.customer_tail_list{display:flex;flex-wrap:wrap;font-size:13px;color:#6d6c6c;gap:12px;margin-top:12px;}
.customer_tail_list > li{position:relative;padding-left:8px;}
.customer_tail_list > li:before{display:inline-block;content:'-';position:absolute;top:0;left:0;}
.customer_tail_list > li:last-of-type{}
.customer_info_label{font-size:20px;color:#1b1b1b;font-family: 'Open Sans','Noto Sans KR';}
.bank_main_flex{margin-top:12px;display:flex;align-items: center;}
.bank_main_sub{font-size:16px;color:#1b1b1b;}
.bank_main_main{font-size:24px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;margin-left:10px;}
.bank_tail_guide{font-size:15px;color:#2b2b2b;margin-top:12px;}


/* layer */
.layerclose{display:block;width:45px;height:45px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.layerclose:before,
.layerclose:after{width:18px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#646464;margin:-1px 0 0 -9px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.poslayer_z{display:none;position:absolute;top:0;left:0;z-index:10;width:327px;box-sizing: border-box;border-radius: 10px;background:#fff;border: 1px solid #787878;}
.poslayer_z.wtype2{width:350px;}
.poslayer_w{}
.poslayer_z.active{display:block;}
.poslayer_titlow{font-family: 'Noto Sans KR';text-align:center;}
.poslayer_contlow{padding:25px 20px 0;font-family: 'Noto Sans KR';}
.poslayer_contlow.type2{padding:0}
.poslayer_contlow.type2 .pcont_w{padding:0}
.poslayer_titlow{}
.poslayer_tit{font-size:18px;color:#1b1b1b;padding:26px 30px;border-bottom:1px solid #e7e7e7;margin:0 15px;font-family: 'Noto Sans KR';font-weight:500;margin:0 20px;}
.poslayer_tit.type2{border-color:#e7e7e7;margin:0 30px;}

.pcont_w{padding:0 20px 25px;}
.pcont_w.type2{padding:0}

.btn_psubmit_w{border-top:1px solid #e7e7e7;padding:18px;min-width:0;text-align: center;}
.btn_psubmit_w.type2{margin:0 20px}
.btn_psubmit{display:inline-block;color:#000000;font-size:16px;font-weight:500;line-height:1;border:1px solid #7e7e7e;border-radius:100px;padding:10px 10px 11px;min-width:110px;box-sizing: border-box;}

.pclayer_vlist{}
.pclayer_vlist > li{margin-bottom:15px;}
.pclayer_vlist > li:last-of-type{margin-bottom:0;}
.pcv_chk{display:inline-block;font-size:15px;color:#333333;}
.pclayer_vlist > li.active .pcv_chk{color:#00dfde}
.pcv_chk:hover{color:#00dfde}

.pcv_chk_vitem{border-bottom:1px solid #e7e7e7;padding:20px 20px;margin:0 20px;}
.pcv_chk_vitem:last-of-type{border-bottom:0}
.pcv_chk_vtitle{font-size:18px;font-weight:500;margin-bottom:18px;}