.mv_wrap{position:relative;}
.page_wrap.type2 .mv_wrap{height:635px !important;}
.btn_mv_control{position:absolute;top:50%;width:70px;height:70px;z-index:10;background:url("../images/btn_mv_control.png") no-repeat 0 0/100% auto;}
.btn_mv_control.prev_control{left:0;}
.btn_mv_control.next_control{right:0;background-position:0 100%;}
.swiper-container.mv_container{height:100%;position:relative}
.swiper-container.mv_container:before,
.swiper-container.mv_container:after{display:block;content:'';position:absolute;left:0;background-repeat:repeat-x;height:50%;width:100%;z-index:5;}
.swiper-container.mv_container:before{top:-20px;background-image:url("../images/shadow_mvtop.png");background-position:0 0;}
.swiper-container.mv_container:after{bottom:0;background-image:url("../images/shadow_mvbottom.png");background-position:0 100%;}
.swiper-container.mv_container .swiper-wrapper{}
.swiper-container.mv_container .swiper-slide{}
.mv_item{display:flex; align-items: center; justify-content:center; background-position:50% 50%;background-repeat:no-repeat;background-size:cover;height:100%;}
.mv_copy{padding:0 170px 150px;box-sizing: border-box;width:100%;}
.mv_form_wrap{position:absolute;bottom:70px;left:50%;width:1200px;z-index:5;display:flex;transform:translateX(-50%)}
.mv_form_cols{flex:1;margin:0 27.5px;}
.mv_form_item{border-bottom:1px solid rgba(255,255,255,0.6);display:block;padding:0 5px;display:flex;align-items: center;height:52px;}
.mv_form_item.has_allow{}
.mv_form_item.has_allow:after{}
.mv_form_item.has_search{}
.mv_form_item.has_search:after{content:'';width:22px;height:22px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 22px;}
.mv_form_item:after{display:block;font-size:26px;color:#fff;font-weight:500;content:'→';/* width:24px;height:13px;background:url("../images/ico_mv_allow.png") no-repeat 0 0/100% auto; */flex:0 0 24px;}
.mv_form_text{font-size:23px;color:#fff;flex:1;}

.mv_form_field{border-bottom:1px solid rgba(255,255,255,0.6);font-size:23px;color:#fff;display:flex;align-items: center;}
input.mv_form_input{border:0;flex:1;font-family: 'Noto Sans KR';height:52px;line-height:1;font-size:23px;color:#fff;padding:0 5px;}

input.mv_form_input::-webkit-input-placeholder{color:#fff;}
input.mv_form_input::-moz-input-placeholder{color:#fff;}
input.mv_form_input:-ms-input-placeholder{color:#fff;}
input.mv_form_input::-ms-input-placeholder{color:#fff;}
input.mv_form_input::input-placeholder{color:#fff;}

.btn_mv_form_submit{display:block;width:22px;height:22px;background:url("../images/ico_mv_search.png") no-repeat 0 0/100% auto;flex:0 0 22px;}

.mv_media{}
.mv_media video{width: 100%;height: 100%;object-fit: cover;}


.mc_wrap{}
.mc_inner{width:1200px;margin:75px auto 0;}
.mc_vitem{}
.mc_title_row{margin-bottom:40px;text-align: center;}
.mc_title{font-size:32px;color:#000000;font-weight:500;}
.mc_title_emp{display:inline-block;position:relative;}
.mc_title_emp:before{display:block;content:'';width:calc(100% + 10px);height:7px;background:#7cfffe;position:absolute;bottom:-3px;left:-5px;}
.mc_title_emp_text{display:inline-block;position:relative;z-index:1;}
.mc_content_row{position:relative;}
.mc_content_row.type2{margin-top:60px;padding:50px 0 60px;}
.mc_content_row.type2:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;transform: translateX(-50%);height:100%;background:#f5fafa;}

.mc_vitem.recommend_vitem{}
.swiper-pagination.mc_paging{position:static;font-size:0;line-height:0;}
.swiper-pagination.mc_paging .swiper-pagination-bullet{margin:25px 2px 0;width:10px;height:10px;background:#ababab;opacity:1;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#00dfde;width:30px;border-radius:100px;}

/* mc_thumbanner */
.mc_thumbanner{display:block;}
.mc_thumbanner:hover .thum_rows > img{transform:scale(1.2);}
.mc_thumbanner .thum_rows{border-radius:18px 18px 0 0;position:relative;overflow:hidden;height:290px;}
.mc_thumbanner .thum_rows > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;transition:.5s;transform:scale(1.0);}
.mc_thumbanner .spec_rows{border:1px solid #dadada;border-top:0;border-radius:0 0 18px 18px;background:#fff;padding:14px 17px 20px;}
.spec_keyword_wrap{display:flex;gap:3px;position:relative;overflow:hidden;}
.spec_keyword_wrap:after{display:block;content:'';width:30px;height:100%;position:absolute;top:0;right:0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.spec_keyword{display:inline-block;color:#888888;font-size:13px;line-height:1;border-radius:100px;padding:4px 10px 5px;border:1px solid #dbdbdb;white-space: nowrap;}
.spec_keyword:last-of-type{}
.spec_copy_wrap{margin-top:10px;}
.spec_copy_main{font-size:19px;font-weight:500;color:#1f1f1f;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_copy_sub{margin-top:5px;font-size:15px;color:#878686;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.spec_price_wrap{margin-top:25px;text-align: right;}
.price_num_group{color:#333333;display:flex;align-items: center;justify-content: flex-end;}
.price_num_value{font-size:25px;font-weight:700;}
.price_num_unit{font-size:19px;font-weight:500;}
/* // mc_thumbanner */

.swiper-container.mc_multi_swiper{margin:0 -18px;}
.swiper-container.mc_multi_swiper .swiper-wrapper{}
.swiper-container.mc_multi_swiper .swiper-slide{flex:0 0 33.33333333333%;}
.swiper-container.mc_multi_swiper .mc_thumbanner{margin:0 18px;}

.mc_multi_swiper2_wrap{}
.swiper-container.mc_multi_swiper2{margin:0 -5px;}
.swiper-container.mc_multi_swiper2 .swiper-wrapper{}
.swiper-container.mc_multi_swiper2 .swiper-slide{flex:0 0 25%;}
.swiper-container.mc_multi_swiper2 .mc_thumbanner{margin:0 5px;}
.swiper-container.mc_multi_swiper2 .spec_copy_main{-webkit-line-clamp: 2;}

.mc_vitem.travel_vitem{margin-top:90px;}
.mc_content_toplayer{position:absolute;top:0;left:0;width:100%;transform: translateY(-50%);}
.mc_content_bottomlayer{position:absolute;bottom:0;left:0;width:100%;transform: translateY(50%);}

.mc_ctab_wrap{}
.mc_ctab_list{display:flex;justify-content: center;gap:6px;}
.mc_ctab_list > li{}
.mc_ctab_list > li:last-of-type{}
.mc_ctab{display:inline-block;background:#fff;color:#2d3545;min-width:130px;text-align: center;border:1px solid #2d3545;border-radius:100px;padding:10px 10px 12px;box-sizing: border-box;}
.mc_ctab.active{background:#2d3545;color:#fff;font-weight:500;}
.mc_tabcont_group{}
.tabcont{display:none;}
.tabcont.active{display:block;}
.box_gallery_wrap{}
.box_gallery_list{display:flex;flex-wrap:wrap;position:relative;z-index: 1;gap:30px 0;margin:0 -18px;}
.box_gallery_list .mc_thumbanner{}
.box_gallery_list > li{flex:0 0 33.33333333333%;box-sizing: border-box;padding:0 18px;}
.box_gallery_list > li:last-of-type{}

.btn_submitbox_wrap{display:flex;justify-content: center;}
.btn_submitbox{display:inline-flex;justify-content:center;align-items:center;border:1px solid #717171;padding:12px 15px;line-height:0;min-width:180px;box-sizing: border-box;border-radius:100px;background:#fff;}
.btn_submitbox.ico_more{}
.btn_submitbox .box_text{font-size:16px;color:#333333;font-weight:500;display:inline-block;line-height:1;}
.btn_submitbox .box_ico{display:inline-block;width:10px;height:10px;margin-left:7px;position:relative;top:1px;}
.btn_submitbox.ico_more .box_ico{}
.btn_submitbox.ico_more .box_ico:before,
.btn_submitbox.ico_more .box_ico:after{display:block;content:'';width:100%;height:2px;background:#3f3f3f;position:absolute;top:50%;left:0;margin-top:-1px;}
.btn_submitbox.ico_more .box_ico:before{}
.btn_submitbox.ico_more .box_ico:after{transform: rotate(90deg);}

.mc_vitem.banner_vitem{margin-top:114px;}

.mc_banner_list{display:flex;flex-wrap:wrap;margin:60px -10px -10px;}
.mc_banner_list > li{flex:0 0 50%;box-sizing: border-box;padding:10px;}
.mc_banner_list > li:last-of-type{}
.mc_banner{display:block;background:#fff1f1;border-radius:18px;}
.mc_banner.type2{background:#d3fdfd;}
.mc_banner.type2 .banner_spec_emp{}
.mc_banner.type2 .banner_spec_emp:before{}
.mc_banner.type2 .banner_spec_emp_text{}

.mc_banner_inner{display:flex;padding:24px 36px;align-items: center;}
.mc_banner_spec{flex:1;min-width:0;}
.mc_banner_spec_main{font-size:28px;font-weight:500;color:#1b1b1b;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.banner_spec_emp{position:relative;}
.banner_spec_emp:before{display:block;content:'';height:6px;background:#fff;position:absolute;bottom:2px;left:0;width:100%;}
.banner_spec_emp_text{font-weight:700;position:relative;z-index:3;}
.mc_banner_spec_sub{margin-top:15px;font-size:20px;color:#000;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height:1.3;}
.mc_banner_spec_btn{margin-top:30px;}
.btn_spectail{font-size:14px;color:#333333;line-height:1;border:1px solid #9c9c9c;border-radius:100px;padding:10px 10px 11px;min-width:130px;box-sizing: border-box;display:inline-block;text-align: center; font-weight:500;}
.mc_banner_thum{flex:0 0 184px;border-radius:100%;position:relative;height:184px;overflow: hidden;width:184px;}
.mc_banner_thum > img{display:block;object-fit: cover;object-position: 50% 50%;position:absolute;top:0;left:0;width:100%;height:100%;}

.mc_vitem.customer_vitem{margin-top:70px;position:relative;}
.mc_vitem.customer_vitem > *{position:relative;z-index:5;}
.mc_vitem.customer_vitem:before{display:block;content:'';width:100vw;background:url("../images/bg_bottom_cus.jpg") no-repeat 50% 0/cover;position:absolute;top:0;left:50%;height:100%;transform: translateX(-50%);}

.customer_list{display:flex;flex-wrap:wrap;margin:0 -16px;}
.customer_list > li{flex:0 0 50%;box-sizing: border-box;padding:59px 16px;}
.customer_list > li:last-of-type{}
.customer_boxitem{display:flex;background:#fff;height:100%;box-sizing: border-box;border:1px solid #d9d9d9;border-radius:10px;padding:20px 25px;}
.customer_boxitem.ico_type2{}
.customer_boxitem.ico_type2 .customer_boxico{background-position:0 100%;}
.customer_boxico{width:80px;height:80px;border:1px solid #e9e9e9;border-radius:100%;background:url("../images/ico_footer_cus.png") no-repeat 0 0/100% auto;}
.customer_boxspec{flex:1;min-width:0;padding:10px 0 10px 22px;}
.customer_boxlabel{font-size:18px;color:#2b2b2b;font-weight:500;line-height:1;}
.customer_main_flex{margin-top:12px;display:flex;align-items: center;}
.customer_box_main{font-size:30px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;}
.customer_box_sub{font-size:16px;color:#1b1b1b;margin-left:10px;}
.customer_tail_list{display:flex;flex-wrap:wrap;font-size:13px;color:#6d6c6c;gap:12px;margin-top:12px;}
.customer_tail_list > li{position:relative;padding-left:8px;}
.customer_tail_list > li:before{display:inline-block;content:'-';position:absolute;top:0;left:0;}
.customer_tail_list > li:last-of-type{}
.customer_info_label{font-size:20px;color:#1b1b1b;font-family: 'Open Sans','Noto Sans KR';}
.bank_main_flex{margin-top:12px;display:flex;align-items: center;}
.bank_main_sub{font-size:16px;color:#1b1b1b;}
.bank_main_main{font-size:24px;color:#1f1f1f;font-weight:700;line-height:1;letter-spacing: -0.5px;margin-left:10px;}
.bank_tail_guide{font-size:15px;color:#2b2b2b;margin-top:12px;}


/* layer */
.layerclose{display:block;width:45px;height:45px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.layerclose:before,
.layerclose:after{width:18px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#646464;margin:-1px 0 0 -9px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.poslayer_z{display:none;position:absolute;top:0;left:0;z-index:10;width:327px;box-sizing: border-box;border-radius: 10px;background:#fff;border: 1px solid #787878;}
.poslayer_z.wtype2{width:350px;}
.poslayer_z.wtype3{width:1200px;}
.poslayer_w{}
.poslayer_z.active{display:block;}
.poslayer_titlow{font-family: 'Noto Sans KR';text-align:center;}
.poslayer_contlow{padding:25px 20px 0;font-family: 'Noto Sans KR';}
.poslayer_contlow.type2{padding:0}
.poslayer_contlow.type3{padding:0 30px;min-height:45px;}
.poslayer_contlow.type2 .pcont_w{padding:0}
.poslayer_titlow{}
.poslayer_tit{font-size:18px;color:#1b1b1b;padding:26px 30px;border-bottom:1px solid #e7e7e7;margin:0 15px;font-family: 'Noto Sans KR';font-weight:500;margin:0 20px;}
.poslayer_tit.type2{border-color:#e7e7e7;margin:0 30px;}

.pcont_w{padding:0 20px 25px;}
.pcont_w.type2{padding:0}

.btn_psubmit_w{border-top:1px solid #e7e7e7;padding:18px;min-width:0;text-align: center;}
.btn_psubmit_w.type2{margin:0 20px}
.btn_psubmit{display:inline-block;color:#000000;font-size:16px;font-weight:500;line-height:1;border:1px solid #7e7e7e;border-radius:100px;padding:10px 10px 11px;min-width:110px;box-sizing: border-box;}

.pclayer_vlist{}
.pclayer_vlist > li{margin-bottom:15px;}
.pclayer_vlist > li:last-of-type{margin-bottom:0;}
.pcv_chk{display:block;font-size:15px;color:#333333;}
.pcv_chk.active{color:#00dfde}
.pcv_chk:hover{color:#00dfde}

.pcv_chk_vitem{border-bottom:1px solid #e7e7e7;padding:20px 20px;margin:0 20px;}
.pcv_chk_vitem:last-of-type{border-bottom:0}
.pcv_chk_vtitle{font-size:18px;font-weight:500;margin-bottom:18px;color:#000000;display:block;}
.pcv_chk_vtitle.active{color:#00dfde}
.pcv_chk_vtitle:hover{color:#00dfde}

/* sub */
.search_field_wrap{position:absolute;top:0;left:0;transform: translateY(-50%);background:#fff;border-radius:100px;z-index:10;width:100%;border:1px solid #727272;display:flex;}
.search_field_cols{flex:1;border-right:1px solid #e4e4e4;display:flex;min-height:98px;align-items:center;padding:0 30px;}
.search_field_cols:last-child{border-right:0}
.search_field_cols:after{display:block;content:'';width:42px;height:42px;margin-left:35px;background:url("../images/ico_search_group.png") no-repeat 0 0;flex:0 0 42px;}
.search_field_cols.define_local{min-width:200px;}
.search_field_cols.define_local:after{background-position:0 0;}
.search_field_cols.define_theme{min-width:260px;}
.search_field_cols.define_theme:after{background-position:0 33.333333%;}
.search_field_cols.define_start{min-width:240px;}
.search_field_cols.define_start:after{background-position:0 66.666666666%;}
.search_field_cols.define_search{}
.search_field_cols.define_search:after{display:none;}
.search_field_cols.define_btn{flex:0 0 97px;display:flex;align-items: center;justify-content: center;padding:0;}
.search_field_cols.define_btn:after{display:none;}

.search_field_cols.result_mode{}
.search_field_cols.result_mode .search_form_text_place{display:none;}
.search_field_cols.result_mode .search_form_text_result{display:flex;}

.search_field_form{flex:1;}

.search_form_text_g{margin-top:5px;}
.search_form_label{font-size:18px;color:#000000;font-weight:500;line-height:1;}
.search_form_text_result{display:none;flex-wrap:wrap;min-height:20px;align-items: center;font-size:15px;color:#000;line-height:1.3;}
.search_form_text_place{display:flex;flex-wrap:wrap;min-height:20px;align-items: center;font-size:15px;color:#999999;line-height:1.3;}

.input_search_form{height:20px;line-height:1;font-size:15px;padding:0;width:100%;box-sizing: border-box;font-family:'Noto Sans KR';}

.mvlayer_parent{}
.btn_search_form{display:block;width:42px;height:42px;background:url("../images/ico_search_group.png") no-repeat 0 100%;}

.board_top_wrap{margin-bottom:15px;display:flex;justify-content: space-between;}
.board_top_cols{display:flex;align-items: center;}
.board_top_cols > *{margin-right:20px;}
.board_top_cols > *:last-child{margin-right:0;}
.board_top_cols .board_current_para{white-space: nowrap;}
.boxquad_tab_list{display:flex;align-items: center;}
.boxquad_tab{font-size:13px;white-space: nowrap;color:#5f5f5f;line-height:1;padding:5px 10px 6px;display:inline-block;border:1px solid #dedede;border-radius:100px;margin-right:5px;}
.boxquad_tab:last-of-type{margin-right:0;}
.boxquad_tab.active{color:#fff;background:#1a2e46;border-color:#1a2e46;}

.btn_ico_sort{display:inline-flex;align-items: center;}
.btn_ico_sort:before{display:block;content:'';width:21px;height:21px; background-repeat:no-repeat; background-position: 0 0;background-size:100% auto;}
.btn_ico_sort.ico_filter:before{background-image:url("../images/ico_filter.png")}
.ico_sort_text{display:inline-block;white-space:nowrap;position:relative;top:-1px;margin-left:8px;line-height:1;font-size:16px;color:#2d2d2d;}
.ico_sort_count{display:inline-block;font-size:18px;color:#000000;line-height:1;margin-left:8px;}

.sort_result_quad_cols{margin-left:13px;}
.sort_result_quad_list{display:flex;flex-wrap:wrap;gap:7px;}
.sort_result_quad_list > li{}
.sort_result_quad_list > li:last-of-type{}

.sort_result_quad{display:inline-flex;border:1px solid #cccccc;padding:10px 10px 10px 15px;border-radius:9px;}
.sort_result_text{font-size:15px;color:#2b2b2b;line-height:1;display:inline-block;margin-left:5px;position:relative;top:1px;}
.sort_result_quad:before{display:block;content:'';width:20px;height:20px;background:url("../images/ico_filter_result.png") no-repeat 0 0/100% auto;}
.sort_result_quad.ico_calendar:before{}
.sort_result_quad.ico_moon:before{background-position:0 33.33333333%;}
.sort_result_quad.ico_map:before{background-position:0 66.666666666%;}
.sort_result_quad.ico_pay:before{background-position:0 100%;}
.btn_sort_result_del{display:inline-block;width:15px;height:15px;margin-left:10px;position:relative;}
.btn_sort_result_del:before,
.btn_sort_result_del:after{display:block;content:'';width:12px;height:1px;background:#777;position:absolute;top:50%;left:50%;margin:0 0 0 -6px;}
.btn_sort_result_del:before{transform: rotate(45deg);}
.btn_sort_result_del:after{transform: rotate(-45deg);}


/* pagination */
.paging_z{position:relative;}
.paging_layer_right{position:absolute;top:-6px;right:0;}
.paging_layer_right .btn_submit{margin: 0 0 0 5px;}
.pagination {text-align: center;line-height:0;font-size:0; padding:0 0 0;margin-top:55px;clear:both;}
.pagination a {display: inline-block; width: 30px;height: 30px;border:1px solid #e3e3e3;border-radius:100%;background: #fff;line-height: 28px;font-size:16px;white-space:nowrap;vertical-align: top;text-align: center;color:#6d6c6c;margin:0 2px;}
.pagination .num{display: inline-block;margin:0 2px;position:relative;}
.pagination .control:hover{border-color: #122232;background-color:#fff;}
.pagination .control:hover:after,
.pagination .control:hover:before{border-color: #122232;}
.pagination .num:hover,
.pagination .num.on {border-color: #122232;color:#fff;background-color:#122232;}
.pagination .control{}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last {overflow: hidden;border:1px solid #d9d9d9;font-size: 0;color:#fff;line-height: 0;}
.pagination .first:after, .pagination .prev:after, .pagination .next:after, .pagination .last:after {display: inline-block;content: '';margin:11px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:before, .pagination .last:before {display: inline-block;content: '';margin:11px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:after, .pagination .prev:after {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .next:after, .pagination .last:after {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.pagination .first:before {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .last:before {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}

.pagination .prev:after{}
.pagination .first:before{}

.pagination .next:after{position:relative;left:-2px;}
.pagination .last:after{}

.pagination .first {}
.pagination .prev {margin-right: 15px;background-position: -34px 0;}
.pagination .next {margin-left: 15px;background-position: -68px 0;}
.pagination .last {background-position: -102px 0;}

.pagination .prev:after{margin-left: 3px}
.pagination .first:before{margin-left: 4px}
.pagination .first:after{margin-left: -3px}

.pagination .next:after{margin-right: 0px}
.pagination .last:before{margin-right: -3px}
.pagination .last:after{margin-right: 3px}


.board_list_wrap{border-top:1px solid #6d6c6c;}
.board_thumnail_list{}
.board_thumnail_list > li{border-bottom:1px solid #e7e7e7;padding:28px 0 28px 12px;}
.board_thumnail_list > li.nodata_li{padding:200px 20px;}
.board_thumnail_list > li.nodata_li .nodata_para{}
.board_thumnail_list > li:last-of-type{}
.nodata_para{}
.board_thumnail_obj{margin:0 0 0 12px;display:flex;}
.board_thumnail_img_cols{flex:0 0 350px;position:relative;height:220px;overflow:hidden;border-radius:7px;width:350px;}
.board_thumnail_img_cols .thum_layer{border-radius:0 0 0 7px;}
.board_thumnail_img_cols > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.board_thumnail_img_cols:hover > img{transform: scale(1.2);}
.board_thumnail_spec_cols{flex:1;margin-left:33px;min-width:0;display:flex;flex-direction: column;justify-content: space-between;}
.board_spectext_group{display:block;}
.board_spec_title{font-size:25px;letter-spacing: -1px;color:#1b1b1b;font-weight:500;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:1.2;}
.board_spec_both{display:flex;justify-content: space-between;align-items: flex-end;margin-top:20px;}
.board_spec_long_cols{flex:1;min-width:0;}
.board_spec_short_cols{margin-left:20px;}
.board_spec_cols{}
.board_spec_cols:last-of-type{}
.boad_spec_subcopy{margin-top:15px;font-size:14px;color:#999999;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;line-height:1.4;}
.board_spec_price{font-size:26px;color:#000;font-weight:700;letter-spacing: -.5px;}
.board_spec_price .unit{font-size:20px;display:inline-block;position:relative;top:-1px;}
.board_other_group{display:flex;justify-content: space-between;align-items: flex-end;}
.board_other_cols{}
.board_other_cols .author_logo_wrap{}
.board_other_cols:last-of-type{}
.board_spec_sub_g{text-align: right;}

.board_spec_title_fxwrap{display:flex;}
.board_spec_title_fxwrap .board_spec_title{}
.board_spec_else_g{margin-left:20px;padding-top:2px;}
.board_spec_else{display:inline-block;font-size:13px;color:#5d5d5d;white-space: nowrap;}
.board_spec_else:last-of-type{}


.btn_togglebox{font-size:15px;color:#fff;display:inline-block;border:1px solid #212121;padding:10px 50px 11px 30px;border-radius:100px;position:relative;background:#212121;}
.btn_togglebox:after{
	display:block;width:9px;height:9px;border-left:1px solid #fff;border-bottom:1px solid #fff;content:'';position:absolute;top:10px;right:30px;
	transform: translateZ(0) rotate(-45deg);
}
.btn_togglebox.type2:after{transform: translateZ(0) rotate(-225deg);top:16px;}
.btn_togglebox_in{}

.board_summary_tb{display:table;width:100%;font-size:14px;color:#4e4e4e;}
.board_summary_tr{display:table-row;}
.board_summary_tr:last-of-type{}
.board_summary_tr:last-of-type .board_summary_cell{padding-bottom:0;}
.board_summary_cell{display:table-cell;vertical-align: middle;padding-bottom:6px;}
.board_summary_cell.define_th{width:1px;}
.board_summary_cell.deinfe_td{padding-left:10px;}
.board_summary_label{display:flex;white-space: nowrap;}
.board_summary_label:before{display:block;content:'';flex:0 0 16px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;margin-right:8px;width:16px;height:16px;background:url("../images/ico_tail_calendarx2.png") no-repeat 0 0/100% auto;}
.board_summary_label_text{font-size:14px;color:#333333;}
.board_summary_data{position:relative;top:-1px;}

.other_company_list{display:flex;gap:18px;}
.other_company_list > li{}
.other_company_list > li:last-of-type{}
.other_company_item{display:inline-flex;align-items: center;}
.other_company_logo{flex:0 0 20px;width:20px;height:20px;}
.other_company_logo > img{width:20px;height:20px;vertical-align: middle;}
.other_company_text{font-size:14px;color:#333333;display:inline-block;line-height:1;margin-left:5px;}


.list_option_zone{margin-top:30px;border-top:1px solid #e7e7e7;display:none;}
.list_option_zone.active{display:block;}
.hor_scroll_calendar_box{border:13px solid #f7f7f7;}
.calenar_title_row{padding:20px 0;border-bottom:1px solid #e7e7e7;text-align: center;display:flex;justify-content: center;align-items: center;}
.btn_calendar_title_control{display:block;width:20px;height:20px;border:1px solid #cfd0d3;border-radius:100%;flex:0 0 20px;margin:0 10px;position:relative;}
.btn_calendar_title_control:after{
	display:block;content:'';width:7px;height:7px;border-left:1px solid #707070;border-bottom:1px solid #707070;position:absolute;top:6px;left:8px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_title_control.prev_title_control{}
.btn_calendar_title_control.next_title_control:after{
	transform: translateZ(0) rotate(225deg);left:4px;
}
.calendar_current{font-size:18px;color:#1b1b1b;font-weight:500;position:relative;top:-1px;}
.calendar_content_row{display:flex;align-items: center;padding:20px;}
.btn_calendar_content_control{display:block;width:26px;height:26px;border:1px solid #c7c7c7;border-radius:100%;flex:0 0 26px;position:relative;}
.btn_calendar_content_control:after{
	display:block;width:9px;height:9px;border-left:1px solid #2a2a2a;border-bottom:1px solid #2a2a2a;content:'';position:absolute;top:8px;left:10px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_content_control.prev_content_control{}
.btn_calendar_content_control.next_content_control:after{
	transform: translateZ(0) rotate(225deg);left:5px;
}
.calendar_content{flex:1;min-width:0;margin:0 20px;}
.calendar_week_tr{display:flex;justify-content: center;text-align: center;margin-bottom:10px;}
.calendar_week_tr.title_row{}
.calendar_week_cell{flex:1;}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_thtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_thtext{color:#0068c8;}
.calendar_thtext{display:inline-block;font-size:15px;color:#333333;line-height:1;}
.calendar_tdtext{font-size:17px;color:#4e4e4e;display:flex;width:30px;height:30px;justify-content: center;align-items: center;margin:0 auto;line-height:1;box-sizing: border-box;padding:0 0 2px;}
.calendar_tdtext.emp_date{color:#fff;border-radius:100%;background:#00dfde;}
.calendar_week_tr.content_row{}
.calendar_week_cell{}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_tdtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_tdtext{}
.calendar_tdelse{font-size:13px;color:#6d6c6c;margin-top:5px;}

.option_top_both{display:flex;justify-content: space-between;margin:17px 0 10px;align-items: center;}
.option_top_cols{}
.option_top_cols .board_current_para{}
.option_top_cols .board_current_para strong{}
.option_top_cols:last-of-type{}
.btn_option_toggle_item{}
.option_sort{
	color:#4e4e4e;font-family: 'Noto Sans KR';font-size:15px;border:1px solid #ccc;height: 38px;padding:0 36px 1px 15px;border-radius:100px;-webkit-border-radius:100px;box-sizing:border-box;
    background: #fff url("../images/ico_option_allow.png") no-repeat 100% 50%/28px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
.option_sort::-ms-value {background: none; color:#4e4e4e;}
.option_sort::-ms-expand {display: none;}
.option_thumitem_list_wrap{}
.option_thumitem_list{}
.option_thumitem_list > li{margin-bottom:15px;}
.option_thumitem_list > li:last-of-type{margin-bottom:0;}
.option_thumitem{border:1px solid #e9e9e9;border-radius:10px;display:flex;padding:15px 20px;}
.option_thum{flex:0 0 120px;width:120px;height:90px;position:relative;overflow:hidden;border-radius:6px;}
.option_thum > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;transition:.5s;transform: scale(1.0);}
.option_thum:hover > img{transform: scale(1.2);}
.option_spec_group{flex:1;margin:0 0 0 20px;min-width:0;}
.option_spec_kind_row{}
.ing_current_text{font-size:13px;color:#c20000;line-height:1;white-space: nowrap;border-radius:100px;padding: 5px 10px 6px;border:1px solid #e95656;display:inline-block;}
.option_spec_title_row{margin-top:10px;}
.option_spec_title{font-size:18px;color:#1b1b1b;font-weight:500;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;display:block;}
.option_spec_else_row{margin-top:10px;display:flex;align-items: center;}
.option_spec_else_row > *{margin-right:35px;}
.option_spec_else_row > *:last-child{margin-right:0;}
.option_spec_else_row .ico_guidetext{}
.option_spec_else_row .author_logo_wrap{}
.option_short_group{flex:0;display:flex;align-items: center;white-space: nowrap;}
.option_short_group > *{margin-right:30px;}
.option_short_group > *:last-child{margin-right:0;}
.option_price{}
.btn_quadobj{font-size:14px;display:inline-block;color:#fff;border-radius:100px;line-height:1;padding:10px 20px 11px;background:#00dfde;font-weight:500;}
.option_btn_rows{position:relative;text-align: center;margin-top:28px;}
.option_btn_rows:before{display:block;content:'';height:1px;position:absolute;top:50%;left:0;width:100%;background:#e7e7e7;}
.option_btn_rows .btn_togglebox{z-index:2;}


.ico_guidetext{position:relative;display:flex;align-items: center;}
.ico_guidetext[class*="ico_"]:before{display:block;content:'';width:15px;height:15px;margin-right:7px;background:url("../images/ico_text_calendar.png") no-repeat 0 0/100% auto; flex:0 0 15px;}
.ico_guidetext_in{font-size:15px;color:#2b2b2b;line-height:1.3;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.ico_guidetext.ico_calender:before{}
.ico_guidetext_initem{font-size:14px;color:#4e4e4e;line-height:1;display:inline-block;position:relative;top:-2px;}
.ico_guidetext_allow{display:inline-block;width:16px;flex:0 0 16px;background:url("../images/ico_textallow.png") no-repeat 50% 50%/16px auto;height:7px;position:relative;top:-1px;margin:0 5px;}
.author_logo_wrap{display:flex;align-items: center;}
.author_logo{margin-right:8px;font-size:0;line-height:0;}
.author_logo > img{vertical-align: middle;height:14px;}
.author_text{display:inline-block;font-size:15px;color:#2b2b2b;line-height:1;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}


/* filter */
.filter_contlow{font-family: 'Noto Sans KR';}
.filter_tab_row{padding:20px 0;border-bottom:1px solid #cacaca;}
.filter_tab_list{display:flex;gap:6px;}
.filter_tab_list > li{}
.filter_tab_list > li:last-of-type{}
.filter_tab{border:1px solid #d4d4d4;font-size:16px;color:#2d2d2d;display:flex;align-items: center;justify-content: center;display:flex;height:100%;box-sizing: border-box;padding:10px 10px 11px;min-width:150px;min-height:50px;}
.filter_tab.active{background:#3e3e3e;color:#fff;font-weight:500;border-color:#3e3e3e;}
.filter_form_row{padding:24px 0;}
.filter_form_cont{display:none;}
.filter_form_cont.active{display:block;}
.filter_form_boxitem_wrap{}
.filter_form_boxitem_list{display:flex;flex-wrap:wrap;gap:8px;}
.filter_form_boxitem_list > li{}
.filter_form_boxitem_list > li:last-of-type{}
.filter_form_boxitem{display:inline-block;font-family: 'Noto Sans KR';font-size:16px;color:#4e4e4e;border:1px solid #ccc;border-radius:100px;line-height:1.3;padding:13px 14px 14px;box-sizing: border-box;min-width:150px;text-align: center;}
.filter_form_boxitem.active{color:#02dfde;border-color:#02dfde;font-weight:500;}
.filter_else_wrap{margin-top:28px;}
.filter_else_label{font-size:16px;color:#4e4e4e;margin-bottom:18px;}
.filter_else_cont{}
.form_format_list{display:flex;align-items: center;}
.form_format_list > li{}
.form_format_list > li.else{padding:0 10px;}
input.filter_input_item{font-family: 'Noto Sans KR';border:1px solid #d4d4d4;height:48px;border-radius:8px;line-height:1;box-sizing: border-box;width:100%;box-sizing: border-box;padding:0 15px;}
.filter_input_elsetext{}
.filter_result_row{border-top:1px solid #e7e7e7;padding:20px 0 25px;display: flex;align-items: center;justify-content: space-between;}
.filter_getdata_cols{display:flex;align-items: center;}
.filter_getdata_list{display:flex;flex-wrap:wrap;gap:6px;}
.filter_getdata_list > li{}
.filter_getdata_list > li:last-of-type{}
.filter_getdata{display:inline-flex;border:1px solid #e9e9e9;padding:10px 15px;}
.getdata_text{font-size:16px;color:#1b1b1b;line-height:1;display:inline-block;}
.btn_getdata_del{display:inline-block;width:15px;height:15px;margin-left:10px;position:relative;}
.btn_getdata_del:before,
.btn_getdata_del:after{display:block;content:'';width:12px;height:1px;background:#777;position:absolute;top:50%;left:50%;margin:0 0 0 -6px;}
.btn_getdata_del:before{transform: rotate(45deg);}
.btn_getdata_del:after{transform: rotate(-45deg);}
.filter_control_cols{display:flex;align-items: center;justify-content: flex-end;}
.filter_control_list{display:flex;gap:20px;align-items: center;}
.filter_control_list > li{}
.filter_control_list > li:last-of-type{}
.btn_control_box{display:inline-flex;align-items: center;}
.btn_control_box_text{display:inline-block;line-height:1;font-size:14px;font-family: 'Noto Sans KR';position:relative;top:-1px;}
.btn_control_box:after{flex:0 0 19px;display:block;content:'';width:19px;height:19px;background:url("../images/btn_filter_resetx2.png") no-repeat 0 0/100% auto;margin-left:5px;}
.btn_control_box.ico_reset{}
.btn_control_box.ico_reset:after{}
.btn_quadbox_item{display:inline-block;background:#3e3e3e;border-radius:100px;padding:13px 20px 14px;box-sizing: border-box;min-width:160px;text-align: center;}
.btn_quadbox_item.ico_allow{}
.btn_quadbox_item.ico_allow .quadbox_item_text{padding-right:17px;position:relative;}
.btn_quadbox_item.ico_allow .quadbox_item_text:after{display:block;content:'';width:8px;height:8px;border-right:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:4px;right:3px;transform: rotate(-45deg);}
.quadbox_item_text{display:inline-block;color:#fff;}
/* // filter */